<IfModule mod_headers.c>
  <FilesMatch "\.(html|css|js|webmanifest)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>

AddType application/manifest+json .webmanifest

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule (^|/)\.fantasy-db(/|$) - [F,L]
</IfModule>
